<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>

<div class="col-lg-6 col-sm-12 col-xl-12 mt-3">
  <h1 style="text-align: center">Login</h1>
  <div style="width: 90%; margin: 25px auto;">
      <form action="/login" method="post">
          <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="username">
          </div>
          <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="password">
          </div>
          <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Login</button>
          </div>
      </form>
      <a href="/">Go Back</a>
      <p class="text-center">New User?</p>
      <a href="/register" class="btn btn-primary col-12">Sign Up</a>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>