<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>SHG Register</title>
</head>
<body>
  
  <div class="col-lg-6 col-sm-12 col-xl-12 mt-3">
    <h1 class="text-center mt-3">SHG Register</h1>
    <div style="width: 90%; margin: 25px auto">
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="SHG Name">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="code" placeholder="SHG code">
            </div>            
            <div class="form-group">
              <input class="form-control" type="text" name="location" placeholder="Location">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="pincode" placeholder="Pincode">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="state" placeholder="State">
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="contact" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="aadhar" placeholder="Aadhar number">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="crop" id="" cols="38" rows="3" placeholder="Type of Crop"></textarea>
          </div>                                        
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    </div>
</div>








  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>