body,
input {
	font-size: 14pt;
}
input,
label {
	vertical-align: middle;
}
.qrcode-text {
	display: inline-block;
	padding-right: 1.7em;
	margin-right: 0;
}
.qrcode-text-btn {
	display: inline-block;
	background: url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat;
	height: 1em;
	width: 1.7em;
	margin-left: -1.7em;
	margin-top: 0.5em;
	cursor: pointer;
}
.qrcode-text-btn > input[type=file] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}
button {
	width: 40%;
}
h1 {
	text-align: center;
	margin-top: 3em;
}
